<!-- <%- include('./partials/head.ejs') %>
<body>
  
  <%- include('./partials/nav.ejs') %>
  <main class="main-charByFilt">


      <%- include('./partials/filtersViews/filterZeno.ejs') %>
      
      <%- include('./partials/filtersViews/filterByAngels.ejs') %>
      
      <%- include('./partials/filtersViews/filterByKaioshin.ejs') %>
      
      <%- include('./partials/filtersViews/filterByDestructorGod.ejs') %>
      
      <%- include('./partials/filtersViews/filterByFigthers.ejs') %>

  </main>
  <script src="/js/nav.js"></script>
</body>
</html> -->